/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

.nav-link.active {
    background-color: #f0f0f0;
}

.home .content {
    margin-top: 20px;
}

.home .content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.home .content p {
    font-size: 1.2em;
    line-height: 1.5;
}

.home .content {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
    transition: var(--tran-03); 
}

body.dark .home .content  {
    color: #ccc;
}


.more {
    color: var(--text-color); 
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


body.dark .more {
    color: var(--text-color); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.home {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Add padding for spacing */
}

.text {
    font-size: 30px;
    margin-bottom: 20px; /* Add spacing between text and main content */
}

.main-content {
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.content {
    flex-grow: 1; 
    margin-right: 20px; 
    margin-bottom: 20vh;
}

.me {
    flex-shrink: 0;
    margin-bottom: 20vh;
}

.me img {
    max-width: 100%; 
}
.me {
    margin-top: -160px; 
    flex-shrink: 0; 
}
.projects-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -2vh;
}

.projects-gallery img {
    width: 100px; /* Set initial width */
    height: auto;
    transition: width 0.3s ease; /* Add transition effect */

}

.projects-gallery img:hover {
    width: 50vh; /* Expand width on hover */
}

.projects-gallery img::after {
    content: attr(alt); /* Show alt text as title */
    display: block;
    font-size: 12px;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add transition effect */
}

.projects-gallery img:hover::after {
    opacity: 1; /* Show title text on hover */
}

.ski{
    color: var(--text-color); 
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body.dark .ski{
    color: var(--text-color); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.skill {
    color: var(--text-color); 
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.list-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -4vh;
}

.list-details li {
    background-color: #f9f9f9;
    padding: 15px 20px;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px); /* Adjust width for three items per row */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Dark mode styles */
.dark-mode .list-details li {
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.cont{
    color: var(--text-color); 
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body.dark .cont{
    color: var(--text-color); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.sheesh{
    height: 60vh;
    width: 75vh;
    margin-left: 65vh;

}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
}

footer img {
    display: inline-block;
    transition: transform 0.3s, filter 0.3s;
}

footer img:hover {
    filter: brightness(100%) hue-rotate(180deg); 
    cursor: pointer;
}